@import url('https://fonts.googleapis.com/css?family=Give+You+Glory');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    /* background-image: url('../components/public/paper.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
}

div::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; */
    background-color: rgba(255, 255, 255, 0);
  }
  
  div::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 5px;
  }
  
  div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: rgba(205, 205, 205, 0.363);
    width: 80%;
  }

.background-q{
    color: white;
    top: 45vh;
    position: relative;
    text-align: center;
    font-size: 50px;
    opacity: 0.15;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 0 0 5px;
    cursor: default;
}

.helper{
    font-size: 20px;
    font-family: Arvo;
    font-weight: 100;
    position: relative;
    transition: ease-out 300ms;
}

#root {
    height: 100%;
    width: 100%
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}

.box {
    width: 60vw;
    height: 40vh;
    /* border: 25px solid black; */
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    /* filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30; */
    opacity: 0.3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(55, 55, 55,0.3);
}

.starbox {
    width: 40vw;
    min-width: 300px;
    height: 20vh;
    padding: 15px;
    margin: 25px;
    background-color:rgba(148, 148, 148, 0.4); 
    box-shadow: 0px 0px 5px rgb(55, 55, 55,0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0 0 2px white;
    border-radius: 10px;
    /* overflow: auto; */
}


.star-container {
    position: absolute;
    top: 0%;
    left: 0%;
}

.startbox:active:after{
    transition: transform ease-out 400ms;
}

.top-bar {
    /* height: 10px; */
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.user-icon{
    left: 2px;
    color: rgb(240, 240, 240,.4);
    text-shadow: 0px 0px 0px rgb(228, 228, 228);
    position: absolute;
    bottom: 4px;
}
.heart-icon{
    position: absolute;
    right: 12%;
    bottom: 0.1px;
}
.heart1{
    background-image: url('../components/public/heart.png');
    height: 20px;
    width: 20px ;
    background-size: 20px 20px;
    display: inline-block;
    
}

.heart1:hover{
    background-image: url('../components/public/pink_heart.png');
    height: 20px;
    width: 20px ;
    background-size: 20px 20px;
    cursor: pointer;
}

.heart1:visited{
    background-image: url('../components/public/pink_heart.png');
    height: 20px;
    width: 20px ;
    background-size: 20px 20px;
}

.heart2{
    background-image: url('../components/public/pink_heart.png');
    height: 20px;
    width: 20px ;
    background-size: 20px 20px;
    display: inline-block;
}

.heart2:hover{
    background-image: url('../components/public/heart.png');
    height: 20px;
    width: 20px ;
    background-size: 20px 20px;
    cursor: pointer;
}

.count{
    /* display: inline-block; */
    color: rgb(234, 234, 234,.4);
    text-shadow: 0px 0px 0px rgb(228, 228, 228);
    /* margin: 0px 10px; */
    position: absolute;
    /* transform: translate(0,3px); */
    right: 8%;
    bottom: 4px;
    /* transition: 2s; */
}

.heart-icon{
    float: right;
    z-index: 8;
}

.star-content{
    clear: both;
    margin: 10px;
    text-shadow: none;
    height: 70%;
    overflow: auto;
}



.settings {
    position: fixed; 

}

.page {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-coordinate: 0% 0%;
    scroll-snap-stop: always;
    position: relative;
}

.navbar{
    position:fixed;
    background-color: transparent;
    color: rgb(238, 212, 243);
    z-index: 10;
    /* text-shadow: 0px 0px 5px rgba(30, 30, 30, 0.7); */
    font-family: 'Berkshire Swash', cursive;
}

.navbar-nav{
    position: fixed;
    right: 20px;
}

.nav-item {
    /* top: 5px;  */
    /* right: 0; */
    /* float: right; */
    color: rgb(255,255,255,0.6);
}

.nav-item:visited {
    /* top: 5px;  */
    /* right: 0; */
    /* float: right; */
    color: rgb(255,255,255,0.6);
}

.nav-item:hover {
    /* top: 5px;  */
    /* right: 0; */
    /* float: right; */
    color: rgb(255,255,255,0.8);
}

.nav-item:active {
    /* top: 5px;  */
    /* right: 0; */
    /* float: right; */
    color: rgb(220,220,220,0.8);
}

.tester{
    position: absolute; 
    top: 10vh;
}

.universe{
    /* background-size: 50px 100px; */
    z-index: 1;
    background-size: 100vw calc(100vh * 3);
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow: auto;
    height: 100vh;
}

.universe::-webkit-scrollbar{
    display:none;
}

.explore{
    background-image: url('../components/public/background1.png');
    background-size: 100vw 100vh;
}

.today{
    background-image: url('../components/public/background2_fix.png');
    background-size: 100vw 100vh;
}

.timeline-p{
    background-image: url('../components/public/background3.png');
    background-size: 100vw 100vh;
}


/* react transitions */

.fade-enter {
   animation: keyframes-fade-enter 0.4s ease-out
}
 
@keyframes keyframes-fade-enter {
   0% {
       opacity: 0.01;
   }
   100% {
       opacity: 1;
       /* transition: opacity 500ms ease-in; */
   }
}
 
.fade-leave {
   opacity: 1;
}
 
.fade-leave.fade-leave-active {
   opacity: 0.01;
   transition: opacity 300ms ease-in;
}

.text-enter {
   animation:  keyframes-text-enter 0.4s ease-out
}
 
@keyframes keyframes-text-enter {
   0% {
       /* opacity: 0.01 !important; */
       color: rgb(0,0,0,0.01);

   }
   100% {
       /* opacity: 0.01 !important; */
       /* transition: opacity 500ms ease-in; */
       color: rgb(5,5,5,0.6);
   }
}

.appear-appear{
    opacity: 0.01;
    transition: 0.3s;
}

.appear-appear.appear-appear-active{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.helperhint-leave{
    opacity: 1;
}

.helperhint-leave.helperhint-leave-active{
    opacity: 0.01;
    transition: opacity 1s ease-in;
}

.helperhint-appear{
    opacity: 0.01
}

.helperhint-appear.helperhint-appear-active{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}