html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    /* background-image: url('../components/public/paper.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
}

#root {
    height: 100%;
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;

    
}

.box{
    width: 500px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    background-color: black;
    filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity: 0.3;

}