@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');



html {
    scroll-behavior: smooth;
    
}

::selection
{ background: rgb(255, 255, 255, 0.3); }

body {
    font-family: 'Arvo', serif;
    color: rgb(5,5,5,0.6);
    /* font-weight: 300; */
    
}

h2 {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(5,5,5,0.6);
    font-size: calc(100vh * 100vw / 5);
}

h4 {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(5,5,5,0.6);
    font-size: calc(100vh * 100vw / 8);
}

.home {
    background-image: url('../components/public/background2_fix.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    font-family: 'Berkshire Swash', cursive;
    font-weight: 300;
    font-size: 70px;
    color: rgba(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    margin: 4vh 0 0 0 ;

}

.subtitle{
    font-weight: 400;
    color: rgba(0, 0, 0);
}

.enter{
    margin: 5px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(20, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .bigbox{
    width: 60vw;
    min-width: 300px;
    height: 45vh;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px rgb(55, 55, 55,0.3);
    position: relative;
    top: calc(20vh);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 5px;

  }


  .btn {
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    line-height: 1;
    border: 3px solid #3281ff;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration-line: none;
}


.btn:hover{
    background-color: #3281ff;
    color: white;
    
}

.today-response{
    height:70%
}

.response{
    position: relative;
    top: 10px;
    left: 30px;
    text-align: left;
    width: 52vw;
    overflow-y: auto;
    color: rgb(97, 97, 97);
    /* overflow: scroll; */
}

.question-group{
    position: relative;
    height: 80%;
    top: 30px;
    overflow-y: hidden;
}

.button-group{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.submit{
    background-color: rgb(255,255,255,0.5);
    border-color: rgb(39, 132, 219);
    border: 10px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    transition: 300ms;
    color: rgb(5,5,5,0.6);
}

.login{
    background-color: rgb(174, 206, 255);
    border: 10px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.login:hover{
    background-color: rgb(215, 231, 255);
    cursor: pointer;
}

.privacy{
    background-color: rgb(255,255,255,0.3);
    border: none;
    padding: 10px;
    height: 45px;
    transition: background-color 300ms;
    outline: none;
    color: rgb(5,5,5,0.6);

}

.privacy:hover{
    background-color: rgb(255,255,255,0.5);
    
    cursor: pointer;
}

.privacy:hover{
    background-color: rgb(255,255,255,0.5);
    cursor: pointer;
    outline: none;
}

.submit:hover{
    background-color: rgb(255,255,255,0.7);
    cursor: pointer;
}

.submit:focus{
    outline: none;
    transition: none;
}

.reminder{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 22vh;
    color: rgb(255,255,255,0.65)
}

.star{
    position:absolute;
    background-image: url('../components/public/star_inactive.png');
    height: 30px;
    width: 30px;
    background-size: contain;
    transition: ease-out 300ms;
}

.star:hover{
    background-image: url('../components/public/star_active.png');
    transition: 200ms;
    
    /* box-shadow: 0px 0px 15px #eee; */
    transform: scale(1.2)!important;
    cursor: pointer;
}

.explore-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 17px;
    /* padding: 10px; */
    scroll-behavior: smooth;
    z-index: 5;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    color:  rgb(255,255,255,0.5);
    transition: 80ms;
}

.explore-btn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    color:  rgb(255,255,255,0.7);
    text-decoration: none;
    transition: 100ms;
}

.explore-btn:active{
    color:  rgb(220,220,220,0.7);
}

.timeline-btn{
    position: absolute;
    left: 50%;
    bottom: 17px;
    transform: translate(-50%);
    /* padding: 10px; */
    scroll-behavior: smooth;
    z-index: 5;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    color:  rgb(255,255,255,0.5);
}

.timeline-btn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    color:  rgb(255,255,255,0.7);
    text-decoration: none;
    transition: 100ms;
}

.timeline-btn:active{
    color:  rgb(220,220,220,0.7);
}

.question-container{
    position: relative;
    top: 17vh;
    text-align: center;
    margin: 0 auto;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    

}

.question{
    font-size: 40px;
}

.daily-response{
    width: 90%;
    height: 80%;
    word-wrap: break-word;
    background-color:rgb(255, 255, 255, 0.2);
    border-color: rgb(138, 138, 138);
    border-style: none;
    border-width: 1px;
    resize: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: ease-out 400ms;
    /* transition: 0.1s; */
    /* box-shadow: 0px 0px 5px rgb(55, 55, 55,0.3); */
}

.daily-response::selection{
    background: rgba(255, 255, 255, 0.6);
}

.daily-response:focus{
    outline: none;
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.daily-response:hover{
    border-color: black;
}

form {
    height: 23vh;
    width: 52vw;
}

form:focus{
    border: none;
}