@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Shadows Into Light';
    font-weight: 300;
    
}

.home {
    background-image: url('../components/public/paper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
    font-weight: 1000;
    

}

.subtitle{
    font-family: 'Courier New', sans-serif;
    font-weight: 400
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(20, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .bigbox{
    width: 75vw;
    min-width: 300px;
    height: 45vh;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    top: calc(16vh);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
  }


  .btn {
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    line-height: 1;
    border: 3px solid #3281ff;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration-line: none;
}


.btn:hover{
    background-color: #3281ff;
    color: white;
}

.response{
    position: relative;
    top: 20px;
    left: 30px;
    text-align: left
}

.question-group{
    position: relative;
    top: 30px;
}

.button-group{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.star{
    position:absolute;
    height: 25px;
    width: 25px;
    background-image: url('../components/public/star_inactive.png');
}

.explore-btn{
    position: relative;
    top: 5vh; 
    left: 90vw;
    scroll-behavior: smooth;
    z-index: 5;
    
}

.timeline-btn{
    position: relative;
    top: 90vh; 
    left: 85vw;
    scroll-behavior: smooth;
    z-index: 5;
}

.question-container{
    position: relative;
    top: 13vh;
    text-align: center;
    margin: 0 auto;

}

.question{
    font-size: 30px;
}