@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

div.label {
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    font-family: 'Berkshire Swash', cursive;
    /* font-weight: bold; */
    font-size: 24px;
    position: absolute;
    z-index: 5;
    top: 50%; 
    left: 50%; 
    cursor: pointer; 
    pointer-events: none;
    transform: translate(-55%, -50%);
}

div.label::selection {
    background: none;
    
}

div.image {
    height: calc(100vw / 15);
    cursor: pointer;
}

div.image:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
    transition: 100ms ease-out;
}

/* div.jan:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
    transition: 100ms ease-out;
} */

div.jan {
    content: url("../components/public/month_splat.png");
    transition: 200ms ease-out;
    
    
}
div.feb {
    content: url("../components/public/month_splat.png");
    
}
div.mar {
    content: url("../components/public/month_splat.png");
    
}
div.apr {
    content: url("../components/public/month_splat.png");
    
}
div.may {
    content: url("../components/public/month_splat.png");
    
}
div.jun {
    content: url("../components/public/month_splat.png");
    
}
div.jul {
    content: url("../components/public/month_splat.png");
    
}
div.aug {
    content: url("../components/public/month_splat.png");
    
}
div.sep {
    content: url("../components/public/month_splat.png");
    
}
div.oct {
    content: url("../components/public/month_splat.png");
    
}
div.nov {
    content: url("../components/public/month_splat.png");
    
}
div.dec {
    content: url("../components/public/month_splat.png");
    
}


