div.image {
    
}

div.jan {
    content: url("../components/public/circle.png");
    
}
div.feb {
    content: url("../components/public/circle.png");
    
}
div.mar {
    content: url("../components/public/circle.png");
    
}
div.apr {
    content: url("../components/public/circle.png");
    
}
div.may {
    content: url("../components/public/circle.png");
    
}
div.jun {
    content: url("../components/public/circle.png");
    
}
div.jul {
    content: url("../components/public/circle.png");
    
}
div.aug {
    content: url("../components/public/circle.png");
    
}
div.sep {
    content: url("../components/public/circle.png");
    
}
div.oct {
    content: url("../components/public/circle.png");
    
}
div.nov {
    content: url("../components/public/circle.png");
    
}
div.dec {
    content: url("../components/public/circle.png");
    
}


