div.label {
    position: absolute;
    z-index: 5;
    top: 50%; 
    left: 50%; 
    cursor: pointer; 

    transform: translate(-55%, -50%);
}

div.label::selection {
    background: none;
}

div.image {
    height: calc(100vw / 15);
    cursor: pointer;
}

div.image::hover {
   border-color: #fff;
}

div.jan {
    content: url("../components/public/month_splat.png");
    
}
div.feb {
    content: url("../components/public/month_splat.png");
    
}
div.mar {
    content: url("../components/public/month_splat.png");
    
}
div.apr {
    content: url("../components/public/month_splat.png");
    
}
div.may {
    content: url("../components/public/month_splat.png");
    
}
div.jun {
    content: url("../components/public/month_splat.png");
    
}
div.jul {
    content: url("../components/public/month_splat.png");
    
}
div.aug {
    content: url("../components/public/month_splat.png");
    
}
div.sep {
    content: url("../components/public/month_splat.png");
    
}
div.oct {
    content: url("../components/public/month_splat.png");
    
}
div.nov {
    content: url("../components/public/month_splat.png");
    
}
div.dec {
    content: url("../components/public/month_splat.png");
    
}


