@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.page-container {
    width: 100vw;
    height: 90vh;
    position: relative;
    align-content: center;
    align-items: center;
    align-self: center;
    /* background-color: #efefef; */
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* animation-duration: 5s; */
}

.container {
    bottom: 0px;
}

.col-centered {
    width: 90vw;
    margin: 0 auto;
}

.month-bar {
    position: absolute;
    bottom: 1px;
    width: calc(100vw / 15 * 13);
    margin: 0 auto;
    transform: translate(1vw,0)
    /* padding: 20px; */
    /* left: 40px; */
}

.monthline {
    position: absolute;
    bottom: 15vh;
    /* padding: 15px; */
    width: calc(100vw / 15 * 13);
    margin: 0 auto;
    /* display: inline-block */
    /* left: 40px; */
}


/* MONTH */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
    width: 90vw;
    margin: 0 auto;
    /* transform: translateX(-2.5%); */
    /* background-color: #efefef; */
}

.timeline ol {
    font-size: 0;
    /* width: 100vw; */
    padding: 50px 0;
    /* height: 15px; */
    /* margin: 0 auto; */
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: calc(100vw / 60);
    height: 5px;
    background: rgba(199, 199, 199, 0.4);
    pointer-events: none;
    box-shadow: 0px 0px 5px #888 ;
    
}


/* Day */
.timeline ol li:not(:first-child) {
    margin-left: 10px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background:rgba(216, 216, 216, 0.7) ;
    z-index: 5;
    pointer-events: auto
}

.timeline ol li::before {
    content: 'HELLO' !important;
    color: #000 !important;
    z-index: 100;
    /* position: absolute;
    top: 50%;
    left: calc(100% - 1px);
    bottom: 0;
    width: 50px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background:rgba(216, 216, 216, 0.7) ;
    z-index: 5;
    pointer-events: auto */
}


li.active::after {
    content: "";
    /* background:#d0d0d0 !important; */
    /*border: 5px solid #568d4e !important;*/
    border: 5px solid rgba(204, 38, 226, 0.541);
    width: 18px !important;
    height: 18px !important;
    box-shadow: 0px 0px 14px rgba(193, 193, 193, 0.7);
    left: calc(100% - 3px) !important;
    /* transform: translateX(-400px); */
    transition: transform ease-out 400ms;
    
}

li.active:hover:after {
    transition: 100ms;
    box-shadow: 0px 0px 15px #eee;
    transform: scale(1.2) translateY(-40%)!important;
    cursor: pointer;
    
    /* top: 10% !important; */
    /* pointer-events: none !important; */
    /* transform:  !important; */
}

li.inactive::after {
    /* background:rgba(216, 216, 216, 0.7) !important; */
    box-shadow: 0px 0px 5px rgb(55, 55, 55,0.7);
}


/* ENTRY */

.entry-container {
    position: relative;
    bottom: 20px;
    width: calc(100vw * .4);
    height: calc(100vh * 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    white-space: pre-line;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(55, 55, 55,0.3);
    overflow: auto;
    
 }

 .text-container {
     width: 100%;
     height: 100%;
 }

 .selectText {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }


 .responses-cont {
    height: 50%;
    width: 35vw;
    overflow-y: auto;

 }

.responses-cont::-webkit-scrollbar-track {
    background: rgba(164, 23, 23, 0.592); 
  }